:root {
    --color-primary: hsl(228, 39%, 23%);
    --color-accent: hsl(12, 88%, 59%);
    --color-faded-text: hsl(227, 12%, 61%);
    --color-faded-text-lighter: hsl(227, 12%, 91%);
    --highlight-bg: hsl(13, 100%, 96%);
    --highlight-accent: hsl(12, 88%, 69%);
    --footer: hsl(233, 12%, 13%);
    --very-light-grey: hsl(0, 0%, 98%);

    --button-y-padding: 5px;
    --button-x-padding: 20px;

    --spacer-lowest: 0.5rem;
    --spacer-lower: 0.75rem;
    --spacer-default: 1rem;
    --spacer-medium: 1.25rem;
    --spacer-big: 1.5rem;
    --spacer-bigger: 2rem;
    --spacer-biggest: 3rem;
}

/* Custom Variables */
/* Resets a */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    scrollbar-color: var(--color-accent), var(--color-primary);
    overflow-x: hidden;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
        scroll-padding-top: var(--spacer-bigger);
    }
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
}

ul {
    list-style: none;
}

button {
    font: inherit;
    font-weight: 700;
}

/* Resets z */
/* General Styling a */

/* nav-bar a */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacer-default);
}

.nav-wrapper .logo {
    fill: var(--color-primary);
    /* --logo-color: var(--color-primary); */
}

.nav-wrapper .mobile-nav-toggle {
    display: none;
}

.nav-wrapper .nav-pages {
    font-size: small;
    gap: clamp(var(--spacer-default), 3vw, var(--spacer-bigger));
}

.primary-navigation .nav-pages a {
    color: var(--color-primary);
    text-decoration: none;
    transition: all 200ms ease;
}

.primary-navigation .nav-pages a:hover,
.primary-navigation .nav-pages a:focus {
    text-decoration: none;
    color: var(--color-accent);
}

/* nav-bar z */
/* hero a */

.hero .even-columns {
    align-items: center;
}

/* hero z */
/* features a */

.features .introduction {
    max-width: 500px;
}

.features .grid-feature {
    display: grid;
    position: relative;
    grid-auto-columns: 50px 1fr;
    gap: 1rem;
    grid-template-areas:
        'chip heading'
        'text text';
    align-items: center;
    text-align: left;
    margin-inline: auto;
    margin-bottom: 2rem;
}

.features .list-chip {
    grid-area: chip;
    max-inline-size: 50px;
    padding: 0.25rem var(--spacer-default);
}

.features .list-item-heading {
    grid-area: heading;
}

.features p {
    grid-area: text;
    max-inline-size: 50ch;
}

/* features z */
/* testimonials a */

.testimonials .slider {
    display: flex;
    overflow-x: hidden;
}

/* Slider Media Queries at the end of Media Queries block */
.slider>* {
    width: 100%;
    flex: 0 0 auto;
}

.testimonials .btn {
    margin-inline: auto;
}

/* testimonials z */
/* call-to-action a */

.call-to-action {
    background-image: url(/images/bg-simplify-section-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.call-to-action .container-70 {
    padding-block: var(--spacer-biggest);
}

/* call-to-action z */
/* footer a */

footer .even-columns {
    justify-items: center;
    grid-template-areas:
        'subscription subscription'
        'nav nav'
        'socials socials'
        'logo logo'
        'copyright copyright';
    line-height: 1;
}

footer .footer-logo {
    --logo-color: var(--very-light-grey);
    grid-area: logo;
}

footer .social-links {
    grid-area: socials;
}

footer .social-list {
    align-self: self-end;
    display: flex;
    gap: var(--spacer-bigger);
}

footer .social-icon {
    inline-size: 2rem;
    aspect-ratio: 1;
    fill: var(--very-light-grey);
    transition: 200ms ease;
}

footer .social-list a:is(:hover, :focus) .social-icon {
    fill: var(--color-accent);
}

footer .footer-nav {
    grid-area: nav;
    columns: 2;
    gap: max(4rem, 8vw);
}

footer .footer-nav-list li {
    margin-bottom: 1.5rem;
}

footer .footer-nav-list a {
    color: var(--very-light-grey);
    text-decoration: none;
    transition: 200ms ease;
}

footer .footer-nav-list a:hover,
footer .footer-nav-list a:focus {
    color: var(--color-accent);
}

footer .subscription {
    grid-area: subscription;
}

footer .copyright {
    grid-area: copyright;
    font-size: 0.9rem;
}

footer .subscription input[type=email] {
    width: 70svw;
    height: 2.5rem;
    padding-inline: var(--spacer-lower);
    border-radius: 100vw;
}

footer .email-field::placeholder {
    margin-left: var(--spacer-bigger);
}

/* footer z */

/* General Styling z */

/* Utility Classes a */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Standard spacer - using where to have the lowest specificity possible */
:where(.flow > :not(:first-child)) {
    margin-top: var(--flow-spacer, 3rem);
}

/* Containers */
.container {
    display: grid;
    padding: var(--spacer-big) var(--spacer-default);
}

.container-70 {
    --max-width: 1110px;
    --padding: var(--spacer-default);

    width: min(var(--max-width), 100% - var(--spacer-bigger));
    padding-block: var(--spacer-bigger);
    margin-inline: auto;
}

/* Background */
.accent-bg {
    background-color: var(--color-accent);
}

.footer-bg {
    background-color: var(--footer);
}

/* Columns */
.even-columns {
    display: grid;
    gap: var(--spacer-default);
}

.push-right {
    margin-left: auto;
}

.vertical-align-center {
    align-items: center;
}

/* Buttons */
.btn {
    color: var(--very-light-grey);
    background-color: var(--color-accent);
    width: max-content;
    padding: var(--spacer-lower) var(--spacer-medium);
    border-radius: 100vw;
    border: 0;
    font-size: 0.75em;
    line-height: 1;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.btn-reversed {
    color: var(--color-accent);
    background-color: white;
}

.btn-shadow {
    box-shadow: 0 10px 7px -3px rgba(242, 97, 59, 0.5);
}

.btn:hover,
.btn:focus-visible {
    background-color: var(--highlight-accent);
}

.btn-reversed:is(:hover, :focus) {
    background-color: white;
    color: var(--highlight-accent);
}

.button-style {
    color: white;
    background-color: var(--color-accent);
    border-radius: 100vw;
    padding: var(--button-y-padding) var(--button-x-padding);
}

/* Scrollbar */



/* Text */
h1,
h2,
h3,
h4 {
    color: var(--color-primary);
}

h1 {
    font-size: 3em;
    line-height: 1.1;
}

h2 {
    font-size: 2.25em;
    line-height: 1.1;
}

h3 {
    font-size: 1em;
}

p {
    font-size: 1em;
    color: var(--color-faded-text);
    max-inline-size: 75ch;
    text-wrap: pretty;
}

.text-center {
    text-align: center;
}

.text-weight-400 {
    font-weight: 4300;
}

.text-weight-500 {
    font-weight: 500;
}

.text-weight-700 {
    font-weight: 700;
}

.text-white {
    color: white;
}

/* Headings */
.heading {
    display: grid;
    gap: var(--spacer-bigger);
}

.heading-2 {
    margin-bottom: var(--spacer-medium);
}


/* Display by screen size */
.display-small-none {
    display: none;
}

/* Utility Classes z */
/* Media Queries a */

/* Mobile */
@media (width <=45em) {

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    .even-columns {
        justify-content: center;
        text-align: center;
    }

    .primary-navigation {
        --nav-spacer: 5rem;

        display: none;

        position: absolute;
        padding: var(--spacer-bigger);
        inset: var(--nav-spacer) var(--spacer-default) auto;
        max-inline-size: 25rem;
        margin-inline: auto;
        background: var(--color-faded-text-lighter);
        border-radius: 5px;
        box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.15);
    }

    .primary-navigation::after {
        content: "";
        position: absolute;
        inset: 0;
    }

    .primary-navigation[data-visible] {
        display: block;
    }

    .primary-navigation .nav-pages {
        display: grid;
        gap: var(--spacer-big);
        text-align: center;
        font-weight: 800;
    }

    .nav-wrapper .mobile-nav-toggle {
        display: block;
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: var(--spacer-lowest);
    }

    .nav-wrapper .nav-get-started {
        display: none;
    }

    .hero img {
        order: -1;
    }

    .hero button {
        margin-inline: auto;
    }

    .features .list-item-heading::before {
        content: "";
        width: min(500px, 100%);
        position: absolute;
        inset: 0;
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
        z-index: -1;
        border-radius: 100vw 0 0 100vw;
        background-color: hsl(12, 88%, 96%);
        /* background-color: rebeccapurple; */
        box-shadow: 6em 0 0 hsl(12, 88%, 96%);
    }

    .call-to-action {
        background-image: url(images/bg-simplify-section-mobile.svg);
        background-position: left;
        text-align: center;
    }

    .call-to-action h2 {
        text-wrap: balance;
    }

    .push-right {
        margin-inline: auto;
    }

    footer .btn {
        width: 70px;
        height: 2.5rem;
    }
}

/* Larger screens */
@media (width > 45em) {
    .display-md-inline-flex {
        display: inline-flex;
    }

    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    .features .grid-feature {
        grid-template-areas:
            'chip heading'
            '.... text';
    }

    footer .even-columns {
        grid-template-areas:
            'logo nav subscription'
            '. nav .'
            'socials nav copyright';
        justify-items: start;
    }

    footer .social-list {
        gap: var(--spacer-default);
    }

    footer .social-icon {
        width: 1.5rem;
    }

    footer .subscription {
        display: block;
        justify-self: last baseline;
    }

    footer .subscription input[type='email'] {
        width: clamp(170px, 20vw, 270px);
    }

    footer .copyright {
        justify-self: last baseline;
    }
}

/* Slider */

@media (width > 40rem) {
    .slider>* {
        width: 50%;
    }
}

@media (width > 60rem) {
    .slider>* {
        width: 33.3333%;
    }
}

/* Media Queries z */
/* JS */
.show {
    display: block;
}

.hide {
    display: none;
}

/* Firefox only */
@supports (scrollbar-color: green yellow) {
    * {
        scrollbar-color: var(--color-accent) var(--color-primary);
        scrollbar-width: auto;
    }
}